<header>
    <div class="header-content">
        <div class="header-content-inner">
            <img
                src="https://github.com/Hanz-Tech/h/blob/master/_includes/logo-01.svg"
                alt="Hanz Tech Inc"
                height="300"
                width="300"
                class="mx-auto d-block"
            />
            <hr>
            <p>Technology company based in Montreal, Canada. We specialize in software development consulting and building custom electronics</p>
        </div>
    </div>
</header>
